[submodule "bundle/rails"]
	path = bundle/rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/surround"]
	path = bundle/surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/endwise"]
	path = bundle/endwise
	url = git://github.com/tpope/vim-endwise
[submodule "bundle/haml"]
	path = bundle/haml
	url = git://github.com/tpope/vim-haml
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/ack"]
	path = bundle/ack
	url = http://github.com/mileszs/ack.vim.git
[submodule "bundle/repeat"]
	path = bundle/repeat
	url = http://github.com/tpope/vim-repeat.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/open"]
	path = bundle/open
	url = http://github.com/austintaylor/vim-open.git
[submodule "bundle/choosecolor"]
	path = bundle/choosecolor
	url = http://github.com/austintaylor/vim-choosecolor.git
[submodule "bundle/indentobject"]
	path = bundle/indentobject
	url = http://github.com/austintaylor/vim-indentobject.git
[submodule "bundle/commaobject"]
	path = bundle/commaobject
	url = http://github.com/austintaylor/vim-commaobject.git
[submodule "bundle/objectcompletion"]
	path = bundle/objectcompletion
	url = http://github.com/austintaylor/vim-objectcompletion.git
